container_commands:
03_collectstatic:
  command: "source /opt/python/run/venv/bin/activate && python samayanandaa/manage.py collectstatic --noinput"
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "samayanandaa.settings"
    "PYTHONPATH": "/opt/python/current/app/samayanandaa:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: samayanandaa/samayanandaa/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"  