<html lang="en">
<head>

	<meta charset="utf-8">
	<title>Astro Site</title>
	<meta name="description" content="CSS only mobile first navigation">
	<meta name="author" content="Samayanandaa">

	<!--Mobile specific meta goodness :)-->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!--google fonts-->
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
	
	<!--css-->
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'samayanandaa_web/style.css' %}">
	<!--image-->
	{% load static %}
	<img src="{% static 'samayanandaa_web/photo.png' %}" height="20%">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons-->
	<link rel="shortcut icon" href="img/favicon.ico">

</head>
<body id="home">

	<div class="wrapper" width="100%">
	
		<header>
		
			<h1 class="logo"><a href="">Home</a></h1>
			
			<a class="to_nav" href="#primary_nav">Menu</a>
		
		</header>
		
		<article>
		
			<h2>Remedies</h2> 
			<p>
				Generally it is seen that every person encounters some or the other problem during one’s life time starting from Health to Hispitalisation on the one hand and on the other hand some issues like settlement of debts, litigation, non- materialisation of marriages of children, continuous failures in one’s attempts be it in the Education, Jobs, fixation of Alliances for marriages, Love matters, construction of houses or house warming... etc being few given here selectively among various others.
			At times the consultees will be advised whereupon they have to wear a particular colour code of dress to be used on certain week days where the problems can be overcome with much ease while in certain other issues they may be advised to resort to a particular remedy wherein certain types of God’s/ Mantra may have to be propitiated, viz. BAGALAMUKHI for Legal Litigation, UCHISHTA GANAPATHI for overcoming certain hurdles, DAKSHINAMOORTHY for some other issues ranging from kids Education to Heavy Disastrous Health Situations, CHANDI for Heavy Business Losses and slackness etc...
			In this Remedial aspect.. Also advised various SHANTIS, if any, on the Birth of New Borns based on their Horoscopes. 
			In case where the consultees suffer from PUNARPHOO, they experience failures in first attempts in Visa Approvals, Jobs, interview selections, Matrimonial Matters, Business Dealings etc.. (selectively given a few among others )
			In some cases very simple remedies which are cost-free at times, mitigate the Malefic effects and enhance the positivity. While in some others, to follow some other remedies are suggested..
			In selective cases, GEMS are advised to be put on the fingers..
			THIS IS ADVISED ONLY & ONLY WHEN IT BECOMES MANDATORY.
			</p>
		</article>
		
		<nav id="primary_nav">
		
			<ul>
			
				<li><a href="about_us.html">About Us</a></li>
			
				<li><a href="natal_horoscope.html">Natal Horoscope</a></li>
			
				<li><a href="horary.html">Horary</a></li>
				
				<li><a href="annual_horoscopy.html">Annual Horoscopy</a></li>
			
				<li><a href="muhurat.html">Muhurat</a></li>
			
				<li><a href="remedies.html">Remedies</a></li>
				<li><a href="matrimonial_horoscope_matching.html">Matrimonial Horoscope Matching</a></li>
				<li><a href="feedback.html">Feedback</a></li>
			
				<li class="top"><a href="#home">Top</a></li>
			
			</ul>
		
		</nav><!--end primary_nav-->
		
		<footer>
		
			<p>Copyright &copy;2018 Samayanandaa</p>
		
		</footer>
	
	</div><!--end wrapper-->
	
</body>
</html>